body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    margin-top: 30px;
  }
  
  #konten {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .signup,
  .login {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  