#editor {
    border: 1px solid #1db9c3;
    border-radius: 0.25rem;
    padding: 1rem 4rem 2rem 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#editor h1 {
    margin-bottom: 1.5rem;
}
#editor h2 {
    margin-bottom: 1rem;
}
#editor #options {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
}
#editor #options .option {
    display: flex;
    flex-direction: column;
}
#editor #options .panelInput {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    background-color: #222831;
    color: #ffffff;
    border: 1px solid #30475e;
    border-radius: 0.25rem;
    margin: 0 1rem 0.5rem 1rem;
    padding-left: 1rem;
}
#editor #options .panelInput:focus {
    outline: none !important;
    border-color: #1db9c3;
    box-shadow: 0 0 0.5rem #30475e;
}
#editor .button {
    font-size: 1.25rem;
    background-color: #1db9c3;
    color: #b1acac;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 2rem;
}
#editor .button:hover {
    cursor: pointer;
    background-color: transparent;
    border-color: #1db9c3;
}
#editor .circle-picker {
    margin-bottom: 1.5rem !important;
}
#editor .button-outline {
    font-size: 1rem;
    background-color: transparent;
    color: #bdb7b7;
    padding: 0.7rem 2rem;
    border-radius: 0.25rem;
    border: 1px solid #e8e8e8;
    transition: background-color 0.2s ease-in-out;
    margin: 0 0.5rem 2rem;
}
#editor .button-outline:hover {
    cursor: pointer;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color: #222831;
}
#editor .button-back {
    font-size: 1rem;
    background-color: transparent;
    color: #e8e8e8;
    padding: 0.7rem 2rem;
    border: none;
    text-decoration: underline;
    transition: background-color 0.2s ease-in-out;
    margin: 0 0.5rem 2rem;
}
#editor .button-back:hover {
    cursor: pointer;
    color: #1db9c3;
}
